html,
body {
  margin: 0;
  padding: 0;
}
#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.card {
  height: 200px;
  width: 55%;
  display: flex;
  margin-bottom: 16px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.img-div {
  width: 32%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  width: 50%;
  margin: 5px 38px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bold-details {
  font-weight: 600;
}
.location {
  font-size: 29px;
}
sup {
  font-size: 11px;
}
